@model cadastro_materia_prima.Models.Materia

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar matéria-prima</h1>

<h4>Matéria-prima</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorEnergetico" class="control-label"></label>
                <input asp-for="ValorEnergetico" class="form-control" />
                <span asp-validation-for="ValorEnergetico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carboidratos" class="control-label"></label>
                <input asp-for="Carboidratos" class="form-control" />
                <span asp-validation-for="Carboidratos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcucaresTotais" class="control-label"></label>
                <input asp-for="AcucaresTotais" class="form-control" />
                <span asp-validation-for="AcucaresTotais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcucaresAdicionados" class="control-label"></label>
                <input asp-for="AcucaresAdicionados" class="form-control" />
                <span asp-validation-for="AcucaresAdicionados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proteinas" class="control-label"></label>
                <input asp-for="Proteinas" class="form-control" />
                <span asp-validation-for="Proteinas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GordurasTotais" class="control-label"></label>
                <input asp-for="GordurasTotais" class="form-control" />
                <span asp-validation-for="GordurasTotais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GordurasSaturadas" class="control-label"></label>
                <input asp-for="GordurasSaturadas" class="form-control" />
                <span asp-validation-for="GordurasSaturadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GordurasTrans" class="control-label"></label>
                <input asp-for="GordurasTrans" class="form-control" />
                <span asp-validation-for="GordurasTrans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FibraAlimentar" class="control-label"></label>
                <input asp-for="FibraAlimentar" class="form-control" />
                <span asp-validation-for="FibraAlimentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodio" class="control-label"></label>
                <input asp-for="Sodio" class="form-control" />
                <span asp-validation-for="Sodio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
